/* .text-primary1 {
  color: #050404;
}

#showcase .showcase-content {
  color: #fff;
  text-align: center;
  padding-top: 180px;
}

#showcase .showcase-content view {
  color: #fff;
  text-align: center;
  padding-top: 170px;
} */

/*#showcase .card-footer h6 {
  text-align: center;
}

.card {
  border-color: transparent;
  transition: all 1s linear;
}

.card-footer {
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}*/
